<div>
  <section style="" class="splash-header">
    <div layout-align="center center" class="alignCenter md-headline mainHeadline">
      Welcome to Resume Nation. Your one stop shop to create all the Resume of your dreams.
      Resume building never been these easier. Fill in the required information like your personal info, work experience, education, skills
      and voilà! at the end of process you'll have your beautiful resume. Try yourself!
    </div>
    <div layout-align="center center" class="alignCenter">
      <md-button href="#/summary" class="md-raised md-primary material-cust-medium-button" md-colors="{background: 'green'}">Start building your Resume</md-button>
    </div>

  </section>

  <div layout="row" layout-xs="column">
    <div flex layout="column" layout-align="center center">
      <md-icon style="color: #D81B60"
                       aria-label="accessibility"
                       class="material-icons step feature-icon"
                       ng-class="md-48">
                       list
                    </md-icon>
      <div class="md-list-item-text"><p>Fill in the required details</p></div>
    </div>
    <div flex layout="column" layout-align="center center">
      <md-icon style="color: #3949AB;"
                       aria-label="accessibility"
                       class="material-icons step feature-icon"
                       ng-class="md-48">
                       create
                    </md-icon>
      <div class="md-list-item-text"><p>Review your changes</p></div>
    </div>
    <div flex layout="column" layout-align="center center">
      <md-icon style="color: #FFC107"
                       aria-label="accessibility"
                       class="material-icons step feature-icon"
                       ng-class="md-48">
                       file_download
                    </md-icon>
      <div class="md-list-item-text"><p>Download your generated Resume</p></div>
    </div>
  </div>
</div>
