<div>
  <section style="" class="splash-header">
    <div layout-align="center center" class="alignCenter md-headline mainHeadline">
      Welcome to Resume Nation. Your one stop shop to create all the Resume of your dreams.
      Resume building never been these easier. Fill in the required information like your personal info, work experience, education, skills
      and voilà! at the end of process you'll have your beautiful resume. Try yourself!
    </div>
    <div layout-align="center center" class="alignCenter">
      <md-button href="#/summary" class="md-raised md-primary material-cust-medium-button" md-colors="{background: 'green'}">Start building your Resume</md-button>
    </div>
  </section>
</div>
