/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0; }

.tabsdemoStaticTabs{
    padding: 10px;
}

.mainApp{
  height: 100%;
}

.alignCenter{
  text-align: center;
}

.mainHeadline{
  padding-bottom: 50px;
  padding-top: 50px;
  color: #525252;
}

@font-face {
    font-family: 'propaganda'; /*a name to be used later*/
    src: url('/fonts/propaganda.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'MysteryQuest'; /*a name to be used later*/
    src: url('/fonts/MysteryQuest-Regular.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'LazenbyCompSmooth'; /*a name to be used later*/
    src: url('/fonts/LazenbyCompSmooth.ttf'); /*URL to font*/
}

.nameHeader{
  font-family: 'MysteryQuest';
  font-size: 36px;
}

@media print
{
    #top_toolbar { display: none; }
    #top_tabs { display: none; }
    #downloadHeader {display: none;}
}
