<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Resume Maker</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
</head>
<body>


  <div ng-app="resumeApp"
       ng-controller="tabCtrl"
       layout="column" class="mainApp" >

    <script type="text/ng-template" id="partials/summary.html">
     <div class="tabsdemoStaticTabs">
       <md-input-container class="md-block">
           <label>Write your nice little summery</label>
           <textarea ng-model="biography" md-maxlength="150" rows="5" md-select-on-focus></textarea>
         </md-input-container>
       <md-button class="md-raised md-primary" ng-click="saveSummery()" md-colors="{background: 'deep-purple'}">Save</md-button>
     </div>
    </script>

    <script type="text/ng-template" id="partials/basicinfo.html">
      <div class="tabsdemoStaticTabs">
        <md-input-container class="md-block" flex-gt-sm>
              <label>Full name (ex. Jon Doe)</label>
              <input ng-model="fullname">
            </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
              <label>Email address (ex. jon@gmail.com)</label>
              <input ng-model="email">
            </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
              <label>Phone number (ex. 2011234562)</label>
              <input ng-model="phonenumber">
            </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
              <label>Website (ex. http://www.jon-doe.com)</label>
              <input ng-model="website">
            </md-input-container>

        <md-button class="md-raised md-primary" ng-click="saveBasicInfo()" md-colors="{background: 'deep-purple'}">Save</md-button>
      </div>
    </script>

    <script type="text/ng-template" id="partials/experiences.html">
      <div ng-controller="experienceCtrl as experienceList" class="tabsdemoStaticTabs">
        <md-input-container class="md-block" flex-gt-sm>
              <label>Company Name (ex. Amazon)</label>
              <input ng-model="experienceList.companyname">
            </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
              <label>Time Period (ex. July 2011 - Feb 2013)</label>
              <input ng-model="experienceList.time_period">
            </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
              <label>Role (ex. Software Engineer)</label>
              <input ng-model="experienceList.role_company">
            </md-input-container>
        <input type="hidden" ng-model="experienceList.id">
        <md-button class="md-raised md-primary" ng-click="experienceList.addExperience()" md-colors="{background: 'deep-purple'}">Save</md-button>
        <md-toolbar class="md-theme-light" md-colors="{background: 'deep-purple'}">
          <h2 class="md-toolbar-tools">
            <span>Your Experiences</span>
          </h2>
        </md-toolbar>

        <md-content>
          <md-list ng-repeat="experience in experienceList.experiences">
            <md-list-item class="md-3-line">
              <div class="md-list-item-text">
                <h3>{{experience.companyname}}</h3>
                <h4>{{experience.time_period}}</h4>
                <p>{{experience.role_company}}</p>
                <input type="hidden" value="{{experience.id}}">
              </div>
              <md-button class="md-secondary" ng-click="experienceList.bindSelectedData(experience)" md-colors="{background: 'deep-purple'}">Edit</md-button>
              <md-button class="md-secondary" ng-click="experienceList.removeExperience(experience)" md-colors="{background: 'red'}">Remove</md-button>
              <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
          </md-list>
        </md-content>
      </div>
    </script>

    <script type="text/ng-template" id="partials/projects.html">
      <div ng-controller="projectsCtrl as projectsList" class="tabsdemoStaticTabs">
        <md-input-container class="md-block" flex-gt-sm>
              <label>Project Title</label>
              <input ng-model="projectsList.title">
            </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
              <label>Duration</label>
              <input ng-model="projectsList.duration">
            </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
              <label>Description</label>
              <textarea ng-model="projectsList.desc" md-maxlength="150" rows="5" md-select-on-focus></textarea>
            </md-input-container>
        <input type="hidden" ng-model="projectsList.id">
        <md-button class="md-raised md-primary" ng-click="projectsList.addProject()" md-colors="{background: 'deep-purple'}">Save</md-button>
      </div>
    </script>

    <script type="text/ng-template" id="partials/view5.html">
      Tab #5
    </script>

    <script type="text/ng-template" id="partials/view6.html">
      Tab #6
    </script>

    <script type="text/ng-template" id="partials/view7.html">
      Tab #7
    </script>

    <md-toolbar md-colors="{background: 'deep-purple'}">
      <h2 class="md-toolbar-tools" layout-align="center center">
        <span>Resume Maker</span>
      </h2>
    </md-toolbar>
    <md-tabs md-stretch-tabs
             md-selected="selectedIndex">
       <md-tab label="summery"></md-tab>
       <md-tab label="basic info"></md-tab>
       <md-tab label="experience"></md-tab>
       <md-tab label="projects"></md-tab>
       <md-tab label="education"></md-tab>
       <md-tab label="skills"></md-tab>
       <md-tab label="download"></md-tab>
    </md-tabs>

    <div id="content" ui-view flex> </div>

  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-sanitize.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.min.js"></script>
  <script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.js"></script>
  <script src="app.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
