<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Resume Nation</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="resume-one.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
</head>
<body>


  <div ng-app="resumeApp"
       ng-controller="tabCtrl"
       layout="column" class="mainApp" >

    <script type="text/ng-template" id="partials/home.html">
      <div class="tabsdemoStaticTabs">
        <div>
          <div layout-align="center center" class="alignCenter md-headline mainHeadline">
            Welcome to Resume Nation. Your one stop shop to create all the Resume of your dreams.
            Resume building never been these easier. Fill in the required information like your personal info, work experience, education, skills
            and voilà! at the end of process you'll have your beautiful resume. Try yourself!
          </div>
          <div layout-align="center center" class="alignCenter">
            <md-button href="#/summary" class="md-raised md-primary" md-colors="{background: 'green'}">Start building your Resume</md-button>
          </div>
        </div>
      </div>
    </script>
    <script type="text/ng-template" id="partials/summary.html">
     <div class="tabsdemoStaticTabs">
       <md-input-container class="md-block">
           <label>Write your nice little summery</label>
           <textarea ng-model="biography" md-maxlength="450" rows="5" md-select-on-focus></textarea>
         </md-input-container>
       <md-button class="md-raised md-primary" ng-click="saveSummery()" md-colors="{background: 'green'}">Save</md-button>
     </div>
    </script>

    <script type="text/ng-template" id="partials/basicinfo.html">
      <div class="tabsdemoStaticTabs">
        <md-input-container class="md-block" flex-gt-sm>
              <label>Full name (ex. Jon Doe)</label>
              <input ng-model="fullname" required>
            </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
              <label>Email address (ex. jon@gmail.com)</label>
              <input ng-model="email" required>
            </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
              <label>Phone number (ex. 2011234562)</label>
              <input ng-model="phonenumber">
            </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
              <label>Website (ex. http://www.jon-doe.com)</label>
              <input ng-model="website">
            </md-input-container>

        <md-button class="md-raised md-primary" ng-click="saveBasicInfo()" md-colors="{background: 'green'}">Save</md-button>
      </div>
    </script>

    <script type="text/ng-template" id="partials/experiences.html">
      <div ng-controller="experienceCtrl as experienceList" class="tabsdemoStaticTabs">
        <md-input-container class="md-block" flex-gt-sm>
              <label>Company Name (ex. Amazon)</label>
              <input ng-model="experienceList.companyname" required>
            </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
              <label>Time Period (ex. July 2011 - Feb 2013)</label>
              <input ng-model="experienceList.time_period" required>
            </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
              <label>Role (ex. Software Engineer)</label>
              <input ng-model="experienceList.role_company" required>
            </md-input-container>
        <input type="hidden" ng-model="experienceList.id">
        <md-button class="md-raised md-primary" ng-click="experienceList.addExperience()" md-colors="{background: 'green'}">Save</md-button>
        <md-toolbar class="md-theme-light" md-colors="{background: 'deep-purple'}">
          <h2 class="md-toolbar-tools">
            <span>Your Work Experience</span>
          </h2>
        </md-toolbar>

        <md-content>
          <md-list ng-repeat="experience in experienceList.experiences">
            <md-list-item class="md-3-line">
              <div class="md-list-item-text">
                <h3>{{experience.companyname}}</h3>
                <h4>{{experience.time_period}}</h4>
                <p>{{experience.role_company}}</p>
                <input type="hidden" value="{{experience.id}}">
              </div>
              <md-button class="md-secondary" ng-click="experienceList.bindSelectedData(experience)" md-colors="{background: 'deep-purple'}">Edit</md-button>
              <md-button class="md-secondary" ng-click="experienceList.removeExperience(experience)" md-colors="{background: 'red'}">Remove</md-button>
              <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
          </md-list>
          <md-list  ng-show="!experienceList.experiences.length">
            <md-list-item class="md-3-line">
              <div class="md-list-item-text">
                <p>Start adding your Work experience!</p>
              </div>
            </md-list-item>
          </md-list>
        </md-content>
      </div>
    </script>

    <script type="text/ng-template" id="partials/projects.html">
      <div ng-controller="projectsCtrl as projectsList" class="tabsdemoStaticTabs">
        <md-input-container class="md-block" flex-gt-sm>
              <label>Project Title</label>
              <input ng-model="projectsList.title" required>
            </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
              <label>Website</label>
              <input ng-model="projectsList.website" required>
            </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
              <label>Description</label>
              <textarea ng-model="projectsList.desc" md-maxlength="300" rows="5" md-select-on-focus></textarea>
            </md-input-container>
        <input type="hidden" ng-model="projectsList.id">
        <md-button class="md-raised md-primary" ng-click="projectsList.addProject()" md-colors="{background: 'green'}">Save</md-button>

        <md-toolbar class="md-theme-light" md-colors="{background: 'deep-purple'}">
          <h2 class="md-toolbar-tools">
            <span>Your Projects</span>
          </h2>
        </md-toolbar>

        <md-content>
          <md-list ng-repeat="project in projectsList.projects">
            <md-list-item class="md-3-line">
              <div class="md-list-item-text">
                <h3>{{project.title}}</h3>
                <h4>{{project.website}}</h4>
                <p>{{project.desc}}</p>
                <input type="hidden" value="{{project.id}}">
              </div>
              <md-button class="md-secondary" ng-click="projectsList.bindSelectedProject(project)" md-colors="{background: 'deep-purple'}">Edit</md-button>
              <md-button class="md-secondary" ng-click="projectsList.removeProject(project)" md-colors="{background: 'red'}">Remove</md-button>
              <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
          </md-list>
          <md-list  ng-show="!projectsList.projects.length">
            <md-list-item class="md-3-line">
              <div class="md-list-item-text">
                <p>Start adding your Projects!</p>
              </div>
            </md-list-item>
          </md-list>
        </md-content>
      </div>
    </script>

    <script type="text/ng-template" id="partials/education.html">
      <div ng-controller="educationCtrl as educationList" class="tabsdemoStaticTabs">
        <md-input-container class="md-block" flex-gt-sm>
              <label>College/University Name</label>
              <input ng-model="educationList.school_name" required>
            </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
              <label>Degree Qualification (ex. Bechelor of Science)</label>
              <input ng-model="educationList.degree" required>
            </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
              <label>Duration (ex. July 2011 - June 2015)</label>
              <input ng-model="educationList.duration" required>
            </md-input-container>
        <input type="hidden" ng-model="projectsList.id">
        <md-button class="md-raised md-primary" ng-click="educationList.addEducation()" md-colors="{background: 'green'}">Save</md-button>

        <md-toolbar class="md-theme-light" md-colors="{background: 'deep-purple'}">
          <h2 class="md-toolbar-tools">
            <span>Your Projects</span>
          </h2>
        </md-toolbar>

        <md-content>
          <md-list ng-repeat="education in educationList.educations">
            <md-list-item class="md-3-line">
              <div class="md-list-item-text">
                <h3>{{education.school_name}}</h3>
                <h4>{{education.degree}}</h4>
                <p>{{education.duration}}</p>
                <input type="hidden" value="{{education.id}}">
              </div>
              <md-button class="md-secondary" ng-click="educationList.bindSelectedEducation(education)" md-colors="{background: 'deep-purple'}">Edit</md-button>
              <md-button class="md-secondary" ng-click="educationList.removeEducation(education)" md-colors="{background: 'red'}">Remove</md-button>
              <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
          </md-list>
          <md-list  ng-show="!educationList.educations.length">
            <md-list-item class="md-3-line">
              <div class="md-list-item-text">
                <p>Start adding your Education qualification!</p>
              </div>
            </md-list-item>
          </md-list>
        </md-content>
      </div>
    </script>

    <script type="text/ng-template" id="partials/skills.html">
      <div ng-controller="skillsCtrl as skillsList" class="tabsdemoStaticTabs">
        <md-input-container class="md-block" flex-gt-sm>
              <label>Add Skills (ex. Web development, Design, Swift, PHP)</label>
              <input ng-model="skillsList.name" required>
            </md-input-container>
        <input type="hidden" ng-model="skillsList.id">
        <md-button class="md-raised md-primary" ng-click="skillsList.addSkill()" md-colors="{background: 'green'}">Save</md-button>

        <md-toolbar class="md-theme-light" md-colors="{background: 'deep-purple'}">
          <h2 class="md-toolbar-tools">
            <span>Your Skills</span>
          </h2>
        </md-toolbar>

        <md-content>
          <md-list ng-repeat="skill in skillsList.skills">
            <md-list-item class="md-3-line">
              <div class="md-list-item-text">
                <h3>{{skill.name}}</h3>
                <input type="hidden" value="{{skill.id}}">
              </div>
              <md-button class="md-secondary" ng-click="skillsList.bindSelectedSkill(skill)" md-colors="{background: 'deep-purple'}">Edit</md-button>
              <md-button class="md-secondary" ng-click="skillsList.removeSkill(skill)" md-colors="{background: 'red'}">Remove</md-button>
              <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
          </md-list>
          <md-list  ng-show="!skillsList.skills.length">
            <md-list-item class="md-3-line">
              <div class="md-list-item-text">
                <p>Start adding your Skills!</p>
              </div>
            </md-list-item>
          </md-list>
        </md-content>
      </div>
    </script>

    <script type="text/ng-template" id="partials/download.html">
      <div ng-controller="downloadCtrl as downloadList">
        <div layout-align="center center">
          <md-button class="md-raised md-primary" onclick="window.print();" md-colors="{background: 'deep-purple'}" id="btnDownload">Download Resume</md-button>
        </div>
        <div id="print-page" class="ng-scope theme-pacifico">

          <div id="cv1" class="instaFade">
            <div class="mainDetails">
              <div id="name">
                <h1 class="quickFade delayTwo">{{downloadList.fullname}}</h1>
              </div>

              <div id="contactDetails" class="quickFade delayFour">
                <ul>
                  <li>e: {{downloadList.email}}</li>
                  <li>w: {{downloadList.website}}</li>
                  <li>m: {{downloadList.phonenumber}}</li>
                </ul>
              </div>
              <div class="clear"></div>
            </div>

            <div id="mainArea" class="quickFade delayFive">
              <section>
                <article>
                  <div class="sectionTitle">
                    <h1>Personal Profile</h1>
                  </div>

                  <div class="sectionContent">
                    <p>{{downloadList.summary}}</p>
                  </div>
                </article>
                <div class="clear"></div>
              </section>


              <section>
                <div class="sectionTitle">
                  <h1>Work Experience</h1>
                </div>

                <div class="sectionContent">
                  <article ng-repeat="exp in downloadList.elem">
                    <h2>{{exp.role_company}} at {{exp.companyname}}</h2>
                    <p class="subDetails">{{exp.time_period}}</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim. Vestibulum bibendum mattis dignissim. Proin id sapien quis libero interdum porttitor.</p>
                  </article>
                </div>
                <div class="clear"></div>
              </section>

              <section>
                <div class="sectionTitle">
                  <h1>Projects</h1>
                </div>

                <div class="sectionContent">
                  <article ng-repeat="project in downloadList.projects">
                    <h2>{{project.title}}</h2>
                    <p class="subDetails" ng-show="project.website">{{project.website}}</p>
                    <p>{{project.desc}}</p>
                  </article>
                </div>
                <div class="clear"></div>
              </section>

              <section>
                <div class="sectionTitle">
                  <h1>Key Skills</h1>
                </div>

                <div class="sectionContent">
                  <ul class="keySkills">
                    <li ng-repeat="skill in downloadList.skill">{{skill.name}}</li>
                  </ul>
                </div>
                <div class="clear"></div>
              </section>


              <section>
                <div class="sectionTitle">
                  <h1>Education</h1>
                </div>

                <div class="sectionContent">
                  <article ng-repeat="education in downloadList.education">
                    <h2>{{education.school_name}}</h2>
                    <p>{{education.degree}}</p>
                    <p class="subDetails">{{education.duration}}</p>
                  </article>
                </div>
                <div class="clear"></div>
              </section>

            </div>
            </div>

        </div>
      </div>
    </script>

    <md-toolbar md-colors="{background: 'deep-purple'}" id="top_toolbar">
      <h2 class="md-toolbar-tools" layout-align="center center">
        <span>Resume Nation</span>
      </h2>
    </md-toolbar>
    <md-tabs md-stretch-tabs
             md-selected="selectedIndex" id="top_tabs">
       <md-tab label="home"></md-tab>
       <md-tab label="summery"></md-tab>
       <md-tab label="basic info"></md-tab>
       <md-tab label="experience"></md-tab>
       <md-tab label="projects"></md-tab>
       <md-tab label="education"></md-tab>
       <md-tab label="skills"></md-tab>
       <md-tab label="download"></md-tab>
    </md-tabs>

    <div id="content" ui-view flex> </div>

  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-sanitize.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.min.js"></script>
  <script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.js"></script>
  <script src="app.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
